<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2010 David A Carlson, IBM Corporation
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
 	 David A Carlson (XMLmodeling.com) - initial API and implementation
     IBM Corporation
-->

<plugin>
   <extension-point id="TransformProvider" name="org.openhealthtools.uml.cda.core" schema="schema/TransformProvider.exsd"/>
   <extension point="org.openhealthtools.mdht.uml.common.modelFilter">
      <provider profileURI="pathmap://CDA_PROFILES/cda.profile.uml"
      		 class="org.openhealthtools.mdht.uml.cda.core.modelfilter.CDAModelFilterProvider"/>
   </extension>
   
   <extension point="org.eclipse.uml2.uml.generated_package">
      <profile
            uri="http://www.openhealthtools.org/mdht/schemas/cda/4"
            location="pathmap://CDA_PROFILES/CDA.profile.uml#_cxOJEIEVEd6H8o-hO3-B4Q">
      </profile>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.openhealthtools.org/mdht/schemas/cda/4"
            class="org.openhealthtools.mdht.uml.cda.core.profile.CDAPackage"
            genModel="model/CDA.profile.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CDA.profile -->
      <package
            uri="http://www.openhealthtools.org/mdht/schemas/cda/4"
            class="org.openhealthtools.mdht.uml.cda.core.profile.CDAPackage"
            genModel="model/CDA.profile.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated CDA.profile -->
      <parser
            type="cda"
            class="org.openhealthtools.mdht.uml.cda.core.profile.util.CDAResourceFactoryImpl"/>
   </extension>

</plugin>
