<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
  Copyright (c) 2009 David A Carlson.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
  
  Contributors:
      David A Carlson (XMLmodeling.com) - initial API and implementation
      
  $Id$
-->

<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
      		adaptable="true"
            objectClass="org.eclipse.core.runtime.IAdaptable"
            id="org.openhealthtools.mdht.uml.ui.dev.popup">
         <menu
               label="%menu_CDATools"
               path="additions"
               id="cdatools">
            <separator
                  name="transform">
            </separator>
            <separator
                  name="rules">
            </separator>
         </menu>
		 <visibility>
            <and>
            	<objectState name="umlType" value="Element"/>
            	<objectState name="hasProfile" value="http://www.openhealthtools.org/mdht/schemas/cda/"/>
            </and>
		 </visibility>
			
         <action
               label="%menu_RemoveConstraintAnnotations"
               class="org.openhealthtools.mdht.uml.ui.dev.actions.RemoveConstraintAnnotationsAction"
               menubarPath="cdatools/transform"
               enablesFor="1"
               id="org.openhealthtools.mdht.uml.ui.dev.actions.RemoveConstraintAnnotationsAction">
         </action>
         <action
               label="%menu_MergePropertyStereotypes"
               class="org.openhealthtools.mdht.uml.ui.dev.actions.MergePropertyStereotypesAction"
               menubarPath="cdatools/transform"
               enablesFor="1"
               id="org.openhealthtools.mdht.uml.ui.dev.actions.MergePropertyStereotypesAction">
         </action>
         
         	<action label="View Conformance Ids"
				class="org.openhealthtools.mdht.uml.ui.dev.actions.ViewConformanceRuleIdsAction"
				menubarPath="cdatools/rules" enablesFor="1"
				id="org.openhealthtools.mdht.uml.cda.ui.actions.viewConformanceRuleIdsAction">
			</action>
          <action
                class="org.openhealthtools.mdht.uml.ui.dev.actions.UpdateIGRulePrefixesAndVersionAction"
                enablesFor="1"
                id="org.openhealthtools.mdht.uml.cda.ui.dev.actions.updateConformanceRulesAction"
                label="%updateConformanceRules.action.label"
                menubarPath="cdatools/rules">
          </action>
          <menu
                id="updateRulesMenu"
                label="%updateConformanceRules.menu.label"
                path="cdatools/rulesSubMenuGroup">
          </menu>
          <menu
                id="prefixMenu"
                label="%updateIGRulePrefixes.submenu.label"
                path="cdatools/updateRulesMenu/rulesSubMenuGroup2">
          </menu>
          <action
                class="org.openhealthtools.mdht.uml.ui.dev.actions.UpdateIGRulePrefixesAction"
                enablesFor="1"
                id="prefix1"
                label="%updateIGRulePrefixesOption1.label"
                menubarPath="cdatools/updateRulesMenu/prefixMenu/rulesSubMenuGroup2">
          </action>
          <menu
                id="prefixAndVersionMenu"
                label="%updateIGRuleAndVersion.submenu.label"
                path="cdatools/updateRulesMenu/rulesSubMenuGroup2">
          </menu>
          <action
                class="org.openhealthtools.mdht.uml.ui.dev.actions.UpdateIGRulePrefixesAndVersionAction"
                enablesFor="1"
                id="prefixAndVersion1"
                label="%updateIGRuleAndVersionOption1.label"
                menubarPath="cdatools/updateRulesMenu/prefixAndVersionMenu/rulesSubMenuGroup2">
          </action>
          <menu
                id="addPrefixMenu"
                label="%addIGRulePrefix.submenu.label"
                path="cdatools/updateRulesMenu/rulesSubMenuGroup2">
          </menu>
          <action
                class="org.openhealthtools.mdht.uml.ui.dev.actions.AddIGRulePrefixToRulesAction"
                enablesFor="1"
                id="addPrefix1"
                label="%addIGRulePrefixOption1.label"
                menubarPath="cdatools/updateRulesMenu/addPrefixMenu/rulesSubMenuGroup2">
          </action>
          <action
                class="org.openhealthtools.mdht.uml.ui.dev.actions.ResolveModelingShortcuts"
                enablesFor="1"
                id="org.openhealthtools.mdht.uml.cda.ui.dev.action1"
                label="Resolve Modeling Shortcuts"
                menubarPath="cdatools/transform">
          </action>
			
      </objectContribution>
   </extension>

</plugin>
