<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  
 
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.openhealthtools.mdht.uml.cda.wizards.actionSet"
            label="CDA Project Wizards"
            visible="true">
         <menu
               id="org.openhealthtools.mdht.uml.cda.wizards.menu"
               label="CDA Project Wizards &amp;Menu">
            <separator
                  name="cdaWizardsGroup">
            </separator>
         </menu>
         <action
               class="org.openhealthtools.mdht.uml.cda.wizards.actions.NewCDAModelAction"
               id="org.openhealthtools.mdht.uml.cda.wizards.newcdamodel"
               label="&amp;Create Hello CDA World, Model Project"
               menubarPath="org.openhealthtools.mdht.uml.cda.wizards.menu/cdaWizardsGroup"
           
               tooltip="Create New CDA, Model Project">
         </action>
         
         <action
               class="org.openhealthtools.mdht.uml.cda.wizards.actions.NewCDAJavaProjectAction"
               id="org.openhealthtools.mdht.uml.cda.wizards.newjavaproject"
               label="&amp;Create Hello CDA World, Java Project"
               menubarPath="org.openhealthtools.mdht.uml.cda.wizards.menu/cdaWizardsGroup"
             
               tooltip="Create Hello CDA World, Java Project">
         </action>
         
         
         <action
               class="org.openhealthtools.mdht.uml.cda.wizards.actions.NewC32ProjectAction"
               id="org.openhealthtools.mdht.uml.cda.wizards.newc32project"
               label="&amp;Create Hello CDA World, C32 Builder Java Project"
               menubarPath="org.openhealthtools.mdht.uml.cda.wizards.menu/cdaWizardsGroup"
            
               tooltip="Create Hello CDA World, C32 Java Project">
         </action>
         
      </actionSet>
   </extension>
  
   <extension
         point="org.eclipse.ui.menus">
   </extension>         

</plugin>
