<?xml version="1.0" encoding="UTF-8"?>

	<!--
		Copyright (c) 2009 David A Carlson. All rights reserved. This program
		and the accompanying materials are made available under the terms of
		the Eclipse Public License v1.0 which accompanies this distribution,
		and is available at http://www.eclipse.org/legal/epl-v10.html

		Contributors: David A Carlson (XMLmodeling.com) - initial API and
		implementation $Id$
	-->

<plugin>


	<extension point="org.eclipse.papyrus.extensionpoints.uml2.UMLProfile">
		<profile description="CDA Profile" iconpath="icons/uml.gif"
			name="CDA Profile" path="pathmap://CDA_PROFILES/HDF.profile.uml"
			provider="Openhealth Tools MDHT">
		</profile>
	</extension>




	<!-- 
    - Navigator Properties
    -->


  <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="TreeOutlinePage">   
         <propertyTab
               category="org.eclipse.papyrus"
               label="%CDAPropertyTab.label"
               afterTab="advanced"
               id="property.tab.CDAPropertySection">           
         </propertyTab> 
      </propertyTabs>
   </extension>
 
 
 <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
		<propertyTabs contributorId="TreeOutlinePage">
			<propertyTab id="property.tab.CDAPropertySection" label="%HealthcarePropertyTab.label"
				category="org.eclipse.papyrus"  afterTab="advanced"  />
		</propertyTabs>
	</extension>
 
 
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
   
   
       <propertySections contributorId="TreeOutlinePage">
  
          <propertySection tab="property.tab.CDAPropertySection" 
	 	     class="org.openhealthtools.mdht.uml.cda.ui.properties.ValidationSection" 
	 	     id="property.section.cda.ValidationSection"
             filter="org.openhealthtools.mdht.uml.cda.ui.filters.ValidationFilter"/>
             
          <propertySection tab="property.tab.CDAPropertySection"
             class="org.openhealthtools.mdht.uml.cda.ui.properties.TemplateSection"
             id="property.section.cda.TemplateSection"
             filter="org.openhealthtools.mdht.uml.cda.ui.filters.TemplateFilter"/>
    
          <propertySection tab="property.tab.CDAPropertySection" 
	 	     class="org.openhealthtools.mdht.uml.cda.ui.properties.VocabularySpecificationSection" 
	 	     id="property.section.cda.VocabularyConstraintSection"
             filter="org.openhealthtools.mdht.uml.cda.ui.filters.CodedAttributeFilter"/>
    
          <propertySection tab="property.tab.CDAPropertySection" 
	 	     class="org.openhealthtools.mdht.uml.cda.ui.properties.TextValueSection" 
	 	     id="property.section.cda.TextValueSection"
             filter="org.openhealthtools.mdht.uml.cda.ui.filters.TextAttributeFilter"/>
    
      </propertySections>
  
  
   </extension> 
   
   


<!-- 	<extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
		<propertyTabs contributorId="TreeOutlinePage">
			<propertyTab id="property.tab.CDAPropertySection" label="%HealthcarePropertyTab.label"
				category="org.eclipse.papyrus"  afterTab="advanced"  />
		</propertyTabs>
	</extension>


	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
		<propertySections contributorId="TreeOutlinePage">
			<propertySection tab="property.tab.CDAPropertySection"
				class="org.openhealthtools.mdht.uml.cda.ui.properties.ValidationSection"
				id="property.section.cda.ValidationSection" filter="org.openhealthtools.mdht.uml.cda.ui.filters.ValidationFilter" />

			<propertySection tab="property.tab.CDAPropertySection"
				class="org.openhealthtools.mdht.uml.cda.ui.properties.TemplateSection"
				id="property.section.cda.TemplateSection" filter="org.openhealthtools.mdht.uml.cda.ui.filters.TemplateFilter" />
			<propertySection tab="property.tab.CDAPropertySection"
				class="org.openhealthtools.mdht.uml.cda.ui.properties.VocabularySpecificationSection"
				id="property.section.cda.VocabularyConstraintSection"
				filter="org.openhealthtools.mdht.uml.cda.ui.filters.CodedAttributeFilter" />
			<propertySection tab="property.tab.CDAPropertySection"
				class="org.openhealthtools.mdht.uml.cda.ui.properties.TextValueSection"
				id="property.section.cda.TextValueSection" filter="org.openhealthtools.mdht.uml.cda.ui.filters.TextAttributeFilter" />
		</propertySections>
	</extension>
 -->



</plugin>
