<?eclipse version="3.0"?><!--
  Copyright (c) 2009 David A Carlson.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
  
  Contributors:
      David A Carlson - initial API and implementation
      
  $Id$
--><plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package class="org.openhealthtools.mdht.uml.cda.hitsp.HITSPPackage" genModel="model/hitsp.genmodel" uri="http://www.openhealthtools.org/mdht/uml/cda/hitsp"/>
   </extension>
   <extension point="org.openhealthtools.mdht.uml.cda.extension">
      <entry eClass="PatientSummary" id="2.16.840.1.113883.3.88.11.32.1" nsURI="http://www.openhealthtools.org/mdht/uml/cda/hitsp"/>
      <entry eClass="Condition" id="2.16.840.1.113883.3.88.11.83.7" nsURI="http://www.openhealthtools.org/mdht/uml/cda/hitsp"/>
      <entry eClass="Medication" id="2.16.840.1.113883.3.88.11.83.8" nsURI="http://www.openhealthtools.org/mdht/uml/cda/hitsp"/>
      <entry eClass="AllergyDrugSensitivity" id="2.16.840.1.113883.3.88.11.83.6" nsURI="http://www.openhealthtools.org/mdht/uml/cda/hitsp"/>
      <entry eClass="VitalSignsSection" id="2.16.840.1.113883.3.88.11.83.119" nsURI="http://www.openhealthtools.org/mdht/uml/cda/hitsp"/>
      <entry eClass="VitalSign" id="2.16.840.1.113883.3.88.11.83.14" nsURI="http://www.openhealthtools.org/mdht/uml/cda/hitsp"/>
   </extension>
</plugin>