<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    <extension point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.openhealthtools.mdht.uml.ui.navigator.UMLDomainNavigatorItem"
            class="org.openhealthtools.mdht.uml.ui.properties.internal.UMLDomainNavigatorItemAdapterFactory">
         <adapter type="org.eclipse.ui.views.properties.tabbed.ITabbedPropertySheetPageContributor"/>
      </factory>
    </extension>
    
  <!-- 
    - Navigator Properties
    -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.openhealthtools.mdht.uml.ui.properties"
            typeMapper="org.openhealthtools.mdht.uml.ui.properties.internal.sections.ModelElementTypeMapper"
            labelProvider="org.openhealthtools.mdht.uml.ui.properties.internal.sections.UMLSheetLabelProvider">
         <propertyCategory
               category="domain">
         </propertyCategory>
         <propertyCategory
               category="annotation">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
 
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.openhealthtools.mdht.uml.ui.properties">   
         <propertyTab
               label="%tab.General"
               category="domain"
               id="property.tab.GeneralPropertySection">           
         </propertyTab> 
         <propertyTab
               label="%tab.Documentation"
               category="annotation"
               afterTab="property.tab.GeneralPropertySection"
               id="property.tab.DocumentationPropertySection">           
         </propertyTab> 
         <propertyTab
               label="%tab.Advanced"
               category="advanced"
               afterTab="property.tab.DocumentationPropertySection"
               id="property.tab.AdvancedPropertySection">           
         </propertyTab>
      </propertyTabs>
   </extension>
 
    <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
       <propertySections contributorId="org.openhealthtools.mdht.uml.ui.properties">
          <propertySection tab="property.tab.GeneralPropertySection" 
	 	     class="org.openhealthtools.mdht.uml.ui.properties.internal.sections.ElementImportSection" 
	 	     id="property.section.uml2.ElementImportSection">
	            <input type="org.eclipse.uml2.uml.ElementImport"/>
	      </propertySection>
	      
          <propertySection tab="property.tab.GeneralPropertySection" 
	 	     class="org.openhealthtools.mdht.uml.ui.properties.internal.sections.NamedElementSection" 
	 	     id="property.section.uml2.NamedElementSection">
	            <input type="org.eclipse.uml2.uml.NamedElement"/>
	      </propertySection>
          <propertySection tab="property.tab.GeneralPropertySection" 
             afterSection="property.section.uml2.NamedElementSection"
	 	     class="org.openhealthtools.mdht.uml.ui.properties.internal.sections.ClassifierSection" 
	 	     id="property.section.uml2.ClassifierSection">
	            <input type="org.eclipse.uml2.uml.Classifier"/>
	      </propertySection>
          <propertySection tab="property.tab.GeneralPropertySection" 
             afterSection="property.section.uml2.NamedElementSection"
	 	     class="org.openhealthtools.mdht.uml.ui.properties.internal.sections.PropertySection" 
	 	     id="property.section.uml2.PropertySection">
	            <input type="org.eclipse.uml2.uml.Property"/>
	      </propertySection>
          <propertySection tab="property.tab.GeneralPropertySection" 
             afterSection="property.section.uml2.NamedElementSection"
	 	     class="org.openhealthtools.mdht.uml.ui.properties.internal.sections.ParameterSection" 
	 	     id="property.section.uml2.ParameterSection">
	            <input type="org.eclipse.uml2.uml.Parameter"/>
	      </propertySection>
          <propertySection tab="property.tab.GeneralPropertySection" 
             afterSection="property.section.uml2.NamedElementSection"
	 	     class="org.openhealthtools.mdht.uml.ui.properties.internal.sections.ConstraintSection" 
	 	     id="property.section.uml2.ConstraintSection">
	            <input type="org.eclipse.uml2.uml.Constraint"/>
	      </propertySection>
	      
          <propertySection tab="property.tab.DocumentationPropertySection" 
	 	     class="org.openhealthtools.mdht.uml.ui.properties.internal.sections.CommentSection" 
	 	     id="property.section.uml2.CommentSection">
	            <input type="org.eclipse.uml2.uml.NamedElement"/>
	      </propertySection>
	      
		 <propertySection tab="property.tab.AdvancedPropertySection" 
		 	class="org.openhealthtools.mdht.uml.ui.properties.internal.sections.UMLAdvancedSection" 
		 	id="property.section.AdvancedPropertySection">
		    	<input type="java.lang.Object"/>
		 </propertySection>
      </propertySections>
   </extension> 
 
</plugin>
