<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  Copyright (c) 2006, 2012 David A Carlson and others.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
  
  Contributors:
      David A Carlson - initial API and implementation
      Christian W. Damus - more flexible contribution/filtering of actions (artf3238)
  $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.perspectives">
      <perspective
           class="org.openhealthtools.mdht.uml.ui.perspective.PerspectiveFactory"
           id="org.openhealthtools.mdht.uml.ui.perspective"
           name="%Perspective_name">
      </perspective>
   </extension>
  
   <extension point = "org.eclipse.ui.editors">
     <editor
          class="org.openhealthtools.mdht.uml.ui.editors.UMLTableEditor"
          contributorClass="org.openhealthtools.mdht.uml.ui.editors.UMLTableActionBarContributor"
          default="true"
          extensions="uml,xmi"
          icon="icons/full/eview16/uml.gif"
          id="org.openhealthtools.mdht.uml.ui.UMLTableEditorID"
          name="%UMLTableEditor_label">
     </editor>
   </extension>  
  
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
      		adaptable="true"
            objectClass="org.eclipse.uml2.uml.Element"
            id="mdht.objectContribution.uml.Element">
         <menu
               label="%openWith_label"
               path="group.openWith"
               id="openWith">
            <separator name="ext"/>
         </menu>
         <visibility>
             <or>
               <objectClass name="org.eclipse.uml2.uml.Package"/>
               <objectClass name="org.eclipse.uml2.uml.Classifier"/>
             </or>
         </visibility>
         <action
               label="%UMLTableEditor_label"
               class="org.openhealthtools.mdht.uml.ui.actions.OpenUMLTableEditorAction"
               menubarPath="openWith/ext"
               enablesFor="+"
               id="org.openhealthtools.mdht.uml.ui.actions.OpenUMLTableEditorAction">
         </action>
      </objectContribution>
   </extension>
  
  <!--
  <extension point="org.eclipse.ui.commands">
    <category name="%category.model.name" 
    	description="%category.model.description" 
    	id="org.openhealthtools.mdht.uml.ui.category.model" />
    	
    <command
      name="%_UI_Menu_OpenType_label"
      description="%_UI_Menu_OpenType_description"
      categoryId="org.openhealthtools.mdht.uml.ui.category.model"
      id="org.openhealthtools.mdht.uml.ui.OpenElementCommand" />  
  </extension>
  
  <extension
      point="org.eclipse.ui.bindings">
    <key
      commandId="org.openhealthtools.mdht.uml.ui.OpenElementCommand"
      sequence="M1+M2+T"
      schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
  </extension>
  -->

   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.openhealthtools.mdht.uml.ui.context.classes">
         <with
               variable="activeContexts">
            <iterate operator="or">
               <equals value="org.openhealthtools.mdht.uml.ui.context.classes"/>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.openhealthtools.mdht.uml.ui.commands.category.classes"
            name="UML Class Modeling"
            description="Commands for editing classes in UML models."/>
      <command
            id="org.openhealthtools.mdht.uml.ui.commands.openSubclassEditor"
            name="%openSubclassEditor.label"
            categoryId="org.openhealthtools.mdht.uml.ui.commands.category.classes">
         
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=group.openWith">
         <command
               commandId="org.openhealthtools.mdht.uml.ui.commands.openSubclassEditor"
               label="%openSubclassEditor.label"
               icon="icons/full/obj16/Class.gif">
            <visibleWhen checkEnabled="true"/>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.openhealthtools.mdht.uml.ui.commands.openSubclassEditor"
            class="org.openhealthtools.mdht.uml.common.ui.handlers.OpenSubclassEditorHandler">
         <activeWhen>
            <and>
               <reference definitionId="org.openhealthtools.mdht.uml.ui.context.classes"/>
               <count value="1"/>
               <iterate>
                  <test property="org.openhealthtools.mdht.uml.common.ui.ecore.eclass" value="uml:Class"/>
               </iterate>
            </and>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.openhealthtools.mdht.uml.ui.context.uml"
            name="UML"
            description="Editing actions for UML elements">
      </context>
      <context
            id="org.openhealthtools.mdht.uml.ui.context.classes"
            parentId="org.openhealthtools.mdht.uml.ui.context.uml"
            name="Editing UML Classes"
            description="Editing UML classes in the UML Table Editor">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            id="org.openhealthtools.mdht.uml.ui.bindings.scheme"
            parentId="org.eclipse.ui.defaultAcceleratorConfiguration"
            name="MDHT UML Modeling"
            description="Key bindings for common UML modeling commands in MDHT model development.">
      </scheme>
      <key
            schemeId="org.openhealthtools.mdht.uml.ui.bindings.scheme"
            commandId="org.openhealthtools.mdht.uml.ui.commands.openSubclassEditor"
            contextId="org.openhealthtools.mdht.uml.ui.context.classes"
            sequence="M1+M3+S">
      </key>
   </extension>
   
   <!--
     - Add UML popup menu
     -->
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.openhealthtools.mdht.uml.ui.navigator.UMLDomainNavigatorItem"
            id="mdht.objectContribution.uml">
         <visibility>
            <objectState name="umlType" value="Element"/>
         </visibility>
         <menu
               label="%addUML.label"
               path="group.new"
               id="mdht.addUML">
            <separator name="propertyGroup"/>
            <separator name="classifierGroup"/>
            <separator name="packageGroup"/>
            <separator name="constraintGroup"/>
            <separator name="commentGroup"/>
         </menu>
      </objectContribution>
   </extension>
   
   <!-- UML Package menu items -->
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.openhealthtools.mdht.uml.ui.navigator.UMLDomainNavigatorItem"
            id="mdht.objectContribution.uml.package">
         <visibility>
            <objectState name="umlType" value="Package"/>
         </visibility>
         <action
               label="%addUMLPackage.label"
               icon="icons/full/obj16/Package.gif"
               class="org.openhealthtools.mdht.uml.ui.actions.AddUMLPackageAction"
               menubarPath="mdht.addUML/packageGroup"
               enablesFor="1"
               id="mdht.actions.addUML.package">
         </action>
         <action
               label="%addUMLElementImport.label"
               icon="icons/full/obj16/ElementImport.gif"
               class="org.openhealthtools.mdht.uml.ui.actions.AddElementImportAction"
               menubarPath="mdht.addUML/packageGroup"
               enablesFor="1"
               id="mdht.actions.addUML.elementImport">
         </action>
         <action
               label="%addUMLPackageImport.label"
               icon="icons/full/obj16/PackageImport.gif"
               class="org.openhealthtools.mdht.uml.ui.actions.AddPackageImportAction"
               menubarPath="mdht.addUML/packageGroup"
               enablesFor="1"
               id="mdht.actions.addUML.packageImport">
         </action>
         
         <action
               label="%addUMLEnumeration.label"
               icon="icons/full/obj16/Enumeration.gif"
               class="org.openhealthtools.mdht.uml.ui.actions.AddUMLEnumerationAction"
               menubarPath="mdht.addUML/classifierGroup"
               enablesFor="1"
               id="mdht.actions.addUML.enumeration">
         </action>
         <action
               label="%addUMLClass.label"
               icon="icons/full/obj16/Class.gif"
               class="org.openhealthtools.mdht.uml.ui.actions.AddUMLClassAction"
               menubarPath="mdht.addUML/classifierGroup"
               enablesFor="1"
               id="mdht.actions.addUML.class">
         </action>
      </objectContribution>
   </extension>
         
   <!-- UML Classifier menu items -->
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.openhealthtools.mdht.uml.ui.navigator.UMLDomainNavigatorItem"
            id="mdht.objectContribution.uml.classifier">
         <visibility>
            <objectState name="umlType" value="Class"/>
         </visibility>
         
         <action
               label="%addUMLNestedClass.label"
               icon="icons/full/obj16/Class.gif"
               class="org.openhealthtools.mdht.uml.ui.actions.AddUMLClassAction"
               menubarPath="mdht.addUML/classifierGroup"
               enablesFor="1"
               id="mdht.actions.addUML.nestedClass">
         </action>
         
            <action
               label="%addUMLSubstitution.label"
               icon="icons/full/obj16/Generalization.gif"
               class="org.openhealthtools.mdht.uml.ui.actions.AddSubstitutionAction"
               menubarPath="mdht.addUML/classifierGroup"
               
               enablesFor="1"
               id="mdht.actions.addUML.substitution">
         </action>
         
         <action
               label="%addUMLGeneralization.label"
               icon="icons/full/obj16/Generalization.gif"
               class="org.openhealthtools.mdht.uml.ui.actions.AddGeneralizationAction"
               menubarPath="mdht.addUML/classifierGroup"
               enablesFor="1"
               id="mdht.actions.addUML.generalization">
         </action>
         
      
         
         <action
               label="%addUMLOperation.label"
               icon="icons/full/obj16/Operation.gif"
               class="org.openhealthtools.mdht.uml.ui.actions.AddOperationAction"
               menubarPath="mdht.addUML/propertyGroup"
               enablesFor="1"
               id="mdht.actions.addUML.operation">
         </action>
         <action
               label="%addUMLAssociation.label"
               icon="icons/full/obj16/Association_navigable.gif"
               class="org.openhealthtools.mdht.uml.ui.actions.AddUMLAssociationAction"
               menubarPath="mdht.addUML/propertyGroup"
               enablesFor="1"
               id="mdht.actions.addUML.association">
         </action>
         <action
               label="%addUMLAttribute.label"
               icon="icons/full/obj16/Property.gif"
               class="org.openhealthtools.mdht.uml.ui.actions.AddUMLAttributeAction"
               menubarPath="mdht.addUML/propertyGroup"
               enablesFor="1"
               id="mdht.actions.addUML.attribute">
         </action>
      </objectContribution>
   </extension>
   
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.openhealthtools.mdht.uml.ui.navigator.UMLDomainNavigatorItem"
            id="mdht.objectContribution.uml.classifier">
         <visibility>
         	<or>
           		<objectState name="umlType" value="Property"/>
           		<objectState name="umlType" value="Association"/>
            </or>
         </visibility>
         
         <action
               label="%addUMLNestedSubclass.label"
               icon="icons/full/obj16/Class.gif"
               class="org.openhealthtools.mdht.uml.ui.actions.AddNestedSubclassAction"
               menubarPath="mdht.addUML/classifierGroup"
               enablesFor="1"
               id="mdht.actions.addUML.nestedSubclass">
         </action>
      </objectContribution>
   </extension>
         
   <!-- UML Operation menu items -->
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.openhealthtools.mdht.uml.ui.navigator.UMLDomainNavigatorItem"
            id="mdht.objectContribution.uml.operation">
         <visibility>
            <objectState name="umlType" value="Operation"/>
         </visibility>
         <action
               label="%addUMLPostCondition.label"
               icon="icons/full/obj16/Constraint.gif"
               class="org.openhealthtools.mdht.uml.ui.actions.AddPostConditionAction"
               menubarPath="mdht.addUML/propertyGroup"
               enablesFor="1"
               id="mdht.actions.addUML.postCondition">
         </action>
         <action
               label="%addUMLPreCondition.label"
               icon="icons/full/obj16/Constraint.gif"
               class="org.openhealthtools.mdht.uml.ui.actions.AddPreConditionAction"
               menubarPath="mdht.addUML/propertyGroup"
               enablesFor="1"
               id="mdht.actions.addUML.preCondition">
         </action>
         <action
               label="%addUMLBodyCondition.label"
               icon="icons/full/obj16/Constraint.gif"
               class="org.openhealthtools.mdht.uml.ui.actions.AddBodyConditionAction"
               menubarPath="mdht.addUML/propertyGroup"
               enablesFor="1"
               id="mdht.actions.addUML.bodyCondition">
         </action>
         <action
               label="%addUMLReturnParameter.label"
               icon="icons/full/obj16/Parameter_return.gif"
               class="org.openhealthtools.mdht.uml.ui.actions.AddReturnParameterAction"
               menubarPath="mdht.addUML/propertyGroup"
               enablesFor="1"
               id="mdht.actions.addUML.returnParameter">
         </action>
         <action
               label="%addUMLInputParameter.label"
               icon="icons/full/obj16/Parameter_in.gif"
               class="org.openhealthtools.mdht.uml.ui.actions.AddInputParameterAction"
               menubarPath="mdht.addUML/propertyGroup"
               enablesFor="1"
               id="mdht.actions.addUML.inputParameter">
         </action>
      </objectContribution>
   </extension>
         
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.openhealthtools.mdht.uml.ui.navigator.UMLDomainNavigatorItem"
            id="mdht.objectContribution.uml.classifier">
         <visibility>
            <objectState name="umlType" value="Enumeration"/>
         </visibility>
         <action
               label="%addUMLEnumerationLiteral.label"
               icon="icons/full/obj16/EnumerationLiteral.gif"
               class="org.openhealthtools.mdht.uml.ui.actions.AddUMLEnumerationLiteralAction"
               menubarPath="mdht.addUML/propertyGroup"
               enablesFor="1"
               id="mdht.actions.addUML.enumerationLiteral">
         </action>
      </objectContribution>
   </extension>
         
   <!-- UML Constraint and Comment menu items -->
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.openhealthtools.mdht.uml.ui.navigator.UMLDomainNavigatorItem"
            id="mdht.objectContribution.uml.element">
         <visibility>
            <objectState name="umlType" value="Element"/>
         </visibility>
         <action
               label="%addUMLConstraint.label"
               icon="icons/full/obj16/Constraint.gif"
               class="org.openhealthtools.mdht.uml.ui.actions.AddUMLConstraintAction"
               menubarPath="mdht.addUML/constraintGroup"
               enablesFor="1"
               id="mdht.actions.addUML.constraint">
         </action>
         <action
               label="%addUMLComment.label"
               icon="icons/full/obj16/Comment.gif"
               class="org.openhealthtools.mdht.uml.ui.actions.AddCommentAction"
               menubarPath="mdht.addUML/commentGroup"
               enablesFor="1"
               id="mdht.actions.addUML.comment">
         </action>
      </objectContribution>
   </extension>
         
   <!-- UML Profile edit menu items -->
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.openhealthtools.mdht.uml.ui.navigator.UMLDomainNavigatorItem"
            id="mdht.objectContribution.uml.profile">
         <visibility>
            <objectState name="umlType" value="Profile"/>
         </visibility>
         <action
               label="%addUMLStereotype.label"
               icon="icons/full/obj16/Stereotype.gif"
               class="org.openhealthtools.mdht.uml.ui.actions.AddStereotypeAction"
               menubarPath="mdht.addUML/classifierGroup"
               enablesFor="1"
               id="mdht.actions.addUML.stereotype">
         </action>
      </objectContribution>
   </extension>
         
   <!-- Profile and Stereotype actions -->
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.openhealthtools.mdht.uml.ui.navigator.UMLDomainNavigatorItem"
            id="mdht.objectContribution.umlExtension">
         <visibility>
            <objectState name="umlType" value="Element"/>
         </visibility>
         <menu
               label="%_UI_UMLExtensionsMenu_label"
               path="additions"
               id="mdht.umlExtension">
            <separator name="elementGroup"/>
            <separator name="packageGroup"/>
         </menu>
      </objectContribution>
   </extension>
   
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.openhealthtools.mdht.uml.ui.navigator.UMLDomainNavigatorItem"
            id="mdht.objectContribution.umlExtension.package">
          <visibility>
             <objectState name="umlType" value="Package"/>
          </visibility>
	      <action
	         label="%_UI_UnapplyProfileAction_label"
	         class="org.openhealthtools.mdht.uml.ui.actions.UnapplyProfileAction"
	         menubarPath="mdht.umlExtension/packageGroup"
	         enablesFor="1"
	         id="org.openhealthtools.mdht.uml.ui.editor.UnapplyProfileActionID">
	      </action>
	      <action
	         label="%_UI_ApplyProfileAction_label"
	         class="org.openhealthtools.mdht.uml.ui.actions.ApplyProfileAction"
	         menubarPath="mdht.umlExtension/packageGroup"
	         enablesFor="1"
	         id="org.openhealthtools.mdht.uml.ui.editor.ApplyProfileActionID">
	      </action>
      </objectContribution>
   </extension>
         
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.openhealthtools.mdht.uml.ui.navigator.UMLDomainNavigatorItem"
            id="mdht.objectContribution.umlExtension.element">
          <visibility>
             <objectState name="umlType" value="Element"/>
          </visibility>
	      <action
	         label="%_UI_UnapplyStereotypeAction_label"
	         class="org.openhealthtools.mdht.uml.ui.actions.UnapplyStereotypeAction"
	         menubarPath="mdht.umlExtension/elementGroup"
	         enablesFor="1"
	         id="org.openhealthtools.mdht.uml.ui.editor.UnapplyStereotypeActionID">
	      </action>
	      <action
	         label="%_UI_ApplyStereotypeAction_label"
	         class="org.openhealthtools.mdht.uml.ui.actions.ApplyStereotypeAction"
	         menubarPath="mdht.umlExtension/elementGroup"
	         enablesFor="1"
	         id="org.openhealthtools.mdht.uml.ui.editor.ApplyStereotypeActionID">
	      </action>
      </objectContribution>
   </extension>
    
  <extension
     point="org.eclipse.ui.editorActions">
    <editorContribution
       targetID="org.openhealthtools.mdht.uml.ui.UMLTableEditorID"
       id="org.openhealthtools.mdht.uml.ui.UMLTableEditorContributionID">
      <menu
         label="%_UI_PackageMenu_label"
         path="org.openhealthtools.mdht.uml.ui.umlMenuID/additions"
         id="org.openhealthtools.mdht.uml.ui.editor.PackageMenuID">
        <separator name="additions"/>
      </menu>
      <action
         label="%_UI_UnapplyProfileAction_label"
         class="org.openhealthtools.mdht.uml.ui.actions.UnapplyProfileAction"
         menubarPath="org.openhealthtools.mdht.uml.ui.umlMenuID/org.openhealthtools.mdht.uml.ui.editor.PackageMenuID/additions"
         enablesFor="1"
         id="org.openhealthtools.mdht.uml.ui.editor.UnapplyProfileActionID">
        <enablement>
          <objectState name="umlType" value="Package"/>
        </enablement>
      </action>
      <action
         label="%_UI_ApplyProfileAction_label"
         class="org.openhealthtools.mdht.uml.ui.actions.ApplyProfileAction"
         menubarPath="org.openhealthtools.mdht.uml.ui.umlMenuID/org.openhealthtools.mdht.uml.ui.editor.PackageMenuID/additions"
         enablesFor="1"
         id="org.openhealthtools.mdht.uml.ui.editor.ApplyProfileActionID">
        <enablement>
          <objectState name="umlType" value="Package"/>
        </enablement>
      </action>
      <menu
         label="%_UI_ElementMenu_label"
         path="org.openhealthtools.mdht.uml.ui.umlMenuID/additions"
         id="org.openhealthtools.mdht.uml.ui.editor.ElementMenuID">
        <separator name="additions"/>
      </menu>
      <action
         label="%_UI_UnapplyStereotypeAction_label"
         class="org.openhealthtools.mdht.uml.ui.actions.UnapplyStereotypeAction"
         menubarPath="org.openhealthtools.mdht.uml.ui.umlMenuID/org.openhealthtools.mdht.uml.ui.editor.ElementMenuID/additions"
         enablesFor="1"
         id="org.openhealthtools.mdht.uml.ui.editor.UnapplyStereotypeActionID">
        <enablement>
          <objectState name="umlType" value="Element"/>
        </enablement>
      </action>
      <action
         label="%_UI_ApplyStereotypeAction_label"
         class="org.openhealthtools.mdht.uml.ui.actions.ApplyStereotypeAction"
         menubarPath="org.openhealthtools.mdht.uml.ui.umlMenuID/org.openhealthtools.mdht.uml.ui.editor.ElementMenuID/additions"
         enablesFor="1"
         id="org.openhealthtools.mdht.uml.ui.editor.ApplyStereotypeActionID">
        <enablement>
          <objectState name="umlType" value="Element"/>
        </enablement>
      </action>
    </editorContribution>
  </extension>
  
  
  
  
    <extension
         point="org.eclipse.ui.menus">
               <menuContribution
            allPopups="false"
            locationURI="popup:org.openhealthtools.mdht.uml.ui.UMLTableEditorID?after=group.new">
         <menu
               icon="icons/SC16x16.png"
               id="org.openhealthtools.mdht.uml.ui.popups.smartconstraint"
               label="Localise Class"
               tooltip="Create a local a extention of the reference model &apos;s class">
 
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate ifEmpty="false">
                      <and>
                          <test property="org.openhealthtools.mdht.uml.ui.isAnAssociation">
                         </test>	
                      </and>
                  </iterate>
               </with>
            </visibleWhen>
      
           
            <command
                  commandId="org.openhealthtools.mdht.uml.ui.cmd.smartconstraint.localiseclass"
                  label="Nested Class"
                  style="push"
                  tooltip="Create sub classes of reference model&apos;s classes as nested classes">
           <parameter
                     name="org.openhealthtools.mdht.uml.ui.commands.AddLocalizedClassCommand.nestclass"
                     value="true">
               </parameter> 
            </command>
            <command
                  commandId="org.openhealthtools.mdht.uml.ui.cmd.smartconstraint.localiseclass"
                  label="Top Level Class"
                  style="push"
                  tooltip="Create sub classes of reference model&apos;s classes as top level classes">
             <parameter
                     name="org.openhealthtools.mdht.uml.ui.commands.AddLocalizedClassCommand.nestclass"
                     value="false">
               </parameter> -
            </command>
   
         </menu>
      </menuContribution>
  
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.openhealthtools.mdht.uml.ui.category.cmd.smartconstraint"
            id="org.openhealthtools.mdht.uml.ui.cmd.smartconstraint.localiseclass"
            name="Create Localised Class">
       <commandParameter
               id="org.openhealthtools.mdht.uml.ui.commands.AddLocalizedClassCommand.nestclass"
               name="OPT_NESTCLASS"
               optional="true"
               typeId="org.openhealthtools.mdht.uml.ui.cmd.paramtype.Boolean"
               values="org.openhealthtools.mdht.uml.ui.propertytesters.BooleanValues">
         </commandParameter> 
      </command>
      <category
            description="Smart Constraint Commands"
            id="org.openhealthtools.mdht.uml.ui.category.cmd.smartconstraint"
            name="Smart Constraint Commands">
      </category>
     <commandParameterType
            converter="org.openhealthtools.mdht.uml.ui.propertytesters.BooleanValueConverter"
            id="org.openhealthtools.mdht.uml.ui.cmd.paramtype.Boolean"
            type="java.lang.Boolean">
      </commandParameterType> 
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.openhealthtools.mdht.uml.ui.commands.AddLocalizedClassCommand"
            commandId="org.openhealthtools.mdht.uml.ui.cmd.smartconstraint.localiseclass">
          <enabledWhen>
	                <with variable="selection">
	                  <iterate
	                        ifEmpty="false">
	                  	<not>
	                        <test
                               forcePluginActivation="false"
                               property="org.openhealthtools.mdht.uml.ui.isLocalised">
	                        </test>
	                  	</not>
	                  </iterate>
	               </with>         
          </enabledWhen> 
        
          
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.openhealthtools.mdht.uml.ui.cmd.smartconstraint.localiseclass"
            icon="icons/SC16x16.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.openhealthtools.mdht.uml.ui.propertytesters.UmlElement"
            id="org.eclipse.emf.edit.provider.DelegatingWrapperItemProvider"
            namespace="org.openhealthtools.mdht.uml.ui"
            properties="instanceOf, isLocalised, fromLocal,isAnAssociation, isProperty,isNamedElement"
            type="org.eclipse.emf.edit.provider.DelegatingWrapperItemProvider">
      </propertyTester>
      <propertyTester
            class="org.openhealthtools.mdht.uml.ui.propertytesters.UmlElement"
            id="org.openhealthtools.mdht.uml.ui.navigator.UMLDomainNavigatorItem"
            namespace="org.openhealthtools.mdht.uml.ui"
            properties="instanceOf, isLocalised, fromLocal,isAnAssociation, isProperty,isNamedElement"
            type="org.openhealthtools.mdht.uml.ui.navigator.UMLDomainNavigatorItem">
      </propertyTester>
   </extension>
  
  
  
  
  
  
</plugin>
