<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.openhealthtools.mdht.api.dotnet.action.generateDotNet"
            nameFilter="*.uml"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.openhealthtools.mdht.api.dotnet.action.GenerateDotNetAction"
               enablesFor="+"
               id="org.openhealthtools.mdht.api.dotnet.action2"
               label="Generate .NET"
               menubarPath="group.open"/>
      </objectContribution>
   </extension>
   
   <extension
         point="org.openhealthtools.mdht.uml.ui.properties.ConstraintEditor">
      <editor
            component="org.openhealthtools.mdht.api.dotnet.CSharpConstraintEditor"
            language="C#">
      </editor>
   </extension>
   
</plugin>
