<?eclipse version="3.0"?><!--
 Copyright (c) 2009 IBM Corporation, David A Carlson, and others.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
     IBM Corporation - initial API and implementation
     David A Carlson (XMLmodeling.com)

 $Id$
--><plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package class="org.openhealthtools.mdht.uml.cda.ccd.CCDPackage" genModel="model/ccd.genmodel" uri="http://www.openhealthtools.org/mdht/uml/cda/ccd"/>
   </extension>
</plugin>
