<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated traceability -->
      <package
            uri="http://ns.electronichealth.net.au/ci/metamodel/traceability"
            class="traceability.TraceabilityPackage"
            genModel="model/traceability.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated traceability -->
      <parser
            type="traces"
            class="traceability.util.TraceabilityResourceFactoryImpl"/>
   </extension>

</plugin>
