<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2012 Christian W. Damus and others.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
     Christian W. Damus - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.openhealthtools.org/mdht/schema/profile/validation/1.0.0"
            class="org.eclipse.mdht.uml.validation.ValidationPackage"
            genModel="model/Validation.genmodel"/>
   </extension>

   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            uri="http://www.openhealthtools.org/mdht/schema/profile/validation/1.0.0"
            location="pathmap://MDHT_VALIDATION/Validation.profile.uml#profile"/>
   </extension>
   
   <extension
         id="ValidationProfile"
         name="Validation Profiles"
         point="org.eclipse.gmf.runtime.emf.core.Pathmaps">
      <pathmap
            name="MDHT_VALIDATION"
            path="model"
            plugin="org.openhealthtools.mdht.uml.validation"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://MDHT_VALIDATION/"
            target="model/">
      </mapping>
   </extension>
   
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
         
      <category
            id="org.openhealthtools.mdht.uml.validation.profile"
            name="MDHT Profile Constraints"
            mandatory="true"/>
            
      <constraintProvider
            cache="false"
            class="org.eclipse.mdht.uml.validation.internal.provider.ProfileConstraintProvider">
         <package
               namespaceUri="http://www.eclipse.org/uml2/2.0.0/UML"/>
         <package
               namespaceUri="http://www.eclipse.org/uml2/2.1.0/UML"/>
         <package
               namespaceUri="http://www.eclipse.org/uml2/3.0.0/UML"/>
      </constraintProvider>
   </extension>
   
   <extension
         point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            id="org.openhealthtools.mdht.uml.validation.context">
         <selector
               class="org.eclipse.mdht.uml.validation.internal.provider.ProfileClientSelector" />
      </clientContext>
      <binding
            context="org.openhealthtools.mdht.uml.validation.context">
         <category
               ref="org.openhealthtools.mdht.uml.validation.profile" />
      </binding>
   </extension>
null
</plugin>
