<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2009 IBM Corporation
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
     IBM Corporation - initial API and implementation

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.openhealthtools.org/mdht/uml/hl7/vocab"
            class="org.eclipse.mdht.uml.hl7.vocab.VocabPackage"
            genModel="model/vocab.genmodel"/>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.uri_mapping">
		<mapping source="pathmap://VOCAB_MODEL/" target="model/">
		</mapping>
	</extension>

</plugin>
