<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
   <extension point="org.eclipse.emf.transaction.editingDomains">
      <editingDomain
         id="org.openhealthtools.mdht.uml.common.ui.EditingDomain"
         factory="org.eclipse.emf.workspace.WorkspaceEditingDomainFactory"/>
   </extension>
</plugin>
