<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright (c) 2009 David A Carlson.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
  
  Contributors:
      David A Carlson (XMLmodeling.com) - initial API and implementation
      
  $Id$
-->

<plugin>

   <extension point="org.openhealthtools.mdht.uml.common.notation">
      <provider profileURI="pathmap://CDA_PROFILES/cda.profile.uml"
      		 class="org.openhealthtools.mdht.uml.cda.ui.util.CDAAnnotationProvider"/>
   </extension>
   
  <!-- 
    - Navigator Properties
    -->
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="org.openhealthtools.mdht.uml.ui.properties">   
         <propertyTab
               category="domain"
               label="%CDAPropertyTab.label"
               afterTab="property.tab.GeneralPropertySection"
               id="property.tab.CDAPropertySection">           
         </propertyTab> 
      </propertyTabs>
   </extension>
 
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
       <propertySections contributorId="org.openhealthtools.mdht.uml.ui.properties">
          <propertySection tab="property.tab.CDAPropertySection" 
	 	     class="org.openhealthtools.mdht.uml.term.ui.properties.CodeSystemVersionSection" 
	 	     id="property.section.CodeSystemVersionSection"
             filter="org.openhealthtools.mdht.uml.term.ui.filters.CodeSystemVersionFilter">
	      </propertySection>
          <propertySection tab="property.tab.CDAPropertySection" 
	 	     class="org.openhealthtools.mdht.uml.term.ui.properties.ValueSetVersionSection" 
	 	     id="property.section.ValueSetVersionSection"
             filter="org.openhealthtools.mdht.uml.term.ui.filters.ValueSetVersionFilter">
	      </propertySection>
          <propertySection tab="property.tab.CDAPropertySection" 
	 	     class="org.openhealthtools.mdht.uml.term.ui.properties.ValueSetCodeSection" 
	 	     id="property.section.ValueSetCodeSection"
             filter="org.openhealthtools.mdht.uml.term.ui.filters.ValueSetCodeFilter">
	      </propertySection>
	      
          <propertySection tab="property.tab.CDAPropertySection" 
	 	     class="org.openhealthtools.mdht.uml.cda.ui.properties.ValidationSection" 
	 	     id="property.section.cda.ValidationSection"
             filter="org.openhealthtools.mdht.uml.cda.ui.filters.ValidationFilter"/>
             
          <propertySection tab="property.tab.CDAPropertySection" 
	 	     class="org.openhealthtools.mdht.uml.term.ui.properties.ValueSetConstraintSection" 
	 	     id="property.section.ValueSetConstraintSection"
             filter="org.openhealthtools.mdht.uml.term.ui.filters.ValueSetConstraintFilter">
	      </propertySection>
          <propertySection tab="property.tab.CDAPropertySection" 
	 	     class="org.openhealthtools.mdht.uml.term.ui.properties.CodeSystemConstraintSection" 
	 	     id="property.section.CodeSystemConstraintSection"
             filter="org.openhealthtools.mdht.uml.term.ui.filters.CodeSystemConstraintFilter">
	      </propertySection>
          <propertySection tab="property.tab.CDAPropertySection" 
	 	     class="org.openhealthtools.mdht.uml.term.ui.properties.ConceptDomainConstraintSection" 
	 	     id="property.section.ConceptDomainConstraintSection"
             filter="org.openhealthtools.mdht.uml.term.ui.filters.ConceptDomainConstraintFilter">
	      </propertySection>
	      
	      <!-- must use cda.ui.properties.VocabularyConstraintsSection because we are applying CDA stereotypes -->
          <propertySection tab="property.tab.CDAPropertySection" 
	 	     class="org.openhealthtools.mdht.uml.cda.ui.properties.VocabularyConstraintsSection" 
	 	     id="property.section.VocabularyConstraintsSection"
             filter="org.openhealthtools.mdht.uml.term.ui.filters.CodedAttributeFilter">
	      </propertySection>
	      
          <propertySection tab="property.tab.CDAPropertySection"
             class="org.openhealthtools.mdht.uml.cda.ui.properties.TemplateSection"
             id="property.section.cda.TemplateSection"
             filter="org.openhealthtools.mdht.uml.cda.ui.filters.TemplateFilter"/>
          <propertySection tab="property.tab.CDAPropertySection" 
	 	     class="org.openhealthtools.mdht.uml.cda.ui.properties.VocabularySpecificationSection" 
	 	     id="property.section.cda.VocabularyConstraintSection"
             filter="org.openhealthtools.mdht.uml.cda.ui.filters.VocabSpecificationFilter"/>
          <propertySection tab="property.tab.CDAPropertySection" 
	 	     class="org.openhealthtools.mdht.uml.cda.ui.properties.TextValueSection" 
	 	     id="property.section.cda.TextValueSection"
             filter="org.openhealthtools.mdht.uml.cda.ui.filters.TextAttributeFilter"/>
          <propertySection tab="property.tab.CDAPropertySection" 
	 	     class="org.openhealthtools.mdht.uml.cda.ui.properties.EntrySection" 
	 	     id="property.section.cda.EntrySection"
             filter="org.openhealthtools.mdht.uml.cda.ui.filters.EntryFilter"/>
          <propertySection tab="property.tab.CDAPropertySection" 
	 	     class="org.openhealthtools.mdht.uml.cda.ui.properties.EntryRelationshipSection" 
	 	     id="property.section.cda.EntryRelationshipSection"
             filter="org.openhealthtools.mdht.uml.cda.ui.filters.EntryRelationshipFilter"/>
      </propertySections>
   </extension> 
 
	<!--
      Template Editor Dialog
   -->
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution adaptable="true"
			objectClass="org.eclipse.uml2.uml.Element" 
			id="org.openhealthtools.mdht.uml.cda.ui.dialogs.contribution1">
			<menu label="%CDATools.menu.label" path="additions" id="cdatools">
				<separator name="edit"/>
			</menu>
			<visibility>
				<objectClass name="org.eclipse.uml2.uml.Class" />
			</visibility>
			<action label="%removeValidationMessages.label"
				class="org.openhealthtools.mdht.uml.cda.ui.actions.RemoveValidationMessagesAction"
				menubarPath="cdatools/edit" enablesFor="1"
				id="org.openhealthtools.mdht.uml.cda.ui.actions.assignValidationMessageAction">
			</action>
			<action label="%openTemplateEditor.label"
				class="org.openhealthtools.mdht.uml.cda.ui.actions.OpenTemplateEditorAction"
				menubarPath="cdatools/edit" enablesFor="1"
				id="org.openhealthtools.mdht.uml.cda.ui.actions.openSubclassEditorAction">
			</action>
		</objectContribution>
		<objectContribution adaptable="true"
			objectClass="org.eclipse.uml2.uml.Element" 
			id="org.openhealthtools.mdht.uml.cda.ui.dialogs.contribution2">
			<menu label="%CDATools.menu.label" path="additions" id="cdatools">
				<separator name="edit"/>
			</menu>
			<visibility>
				<objectClass name="org.eclipse.uml2.uml.Package" />
			</visibility>
			<action label="%setRequiresParentId.label"
				class="org.openhealthtools.mdht.uml.cda.ui.actions.SetRequiresParentIdAction"
				menubarPath="cdatools/edit" enablesFor="1"
				id="org.openhealthtools.mdht.uml.cda.ui.actions.setRequiresParentIdAction">
			</action>
			<action label="%updateProfileVersion.label"
				class="org.openhealthtools.mdht.uml.cda.ui.actions.UpdateProfileVersionAction"
				menubarPath="cdatools/edit" enablesFor="1"
				id="org.openhealthtools.mdht.uml.cda.ui.actions.updateProfileVersionAction">
			</action>
			<action label="%removeValidationMessages.label"
				class="org.openhealthtools.mdht.uml.cda.ui.actions.RemoveValidationMessagesAction"
				menubarPath="cdatools/edit" enablesFor="1"
				id="org.openhealthtools.mdht.uml.cda.ui.actions.assignValidationMessageAction">
			</action>
		</objectContribution>
		

		<objectContribution adaptable="true"
			objectClass="org.eclipse.gmf.runtime.notation.View" 
			id="org.openhealthtools.mdht.uml.cda.ui.dialogs.contribution3">
			<menu label="%CDATools.menu.label" path="additions" id="cdatools">
				<separator name="edit"/>
			</menu>
			<action label="%openTemplateEditor.label"
				class="org.openhealthtools.mdht.uml.cda.ui.actions.OpenTemplateEditorAction"
				menubarPath="cdatools/edit" enablesFor="1"
				id="org.openhealthtools.mdht.uml.cda.ui.actions.openSubclassEditorAction">
			</action>
		</objectContribution>
	</extension>
	
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution adaptable="true"
			objectClass="org.eclipse.uml2.uml.Element"
            id="mdht.objectContribution.uml">
         <visibility>
			<objectClass name="org.eclipse.uml2.uml.Element" />
         </visibility>
         <menu
               label="%addCDA.label"
               path="group.new"
               id="mdht.addCDA">
            <separator name="propertyGroup"/>
            <separator name="classifierGroup"/>
            <separator name="packageGroup"/>
            <separator name="constraintGroup"/>
            <separator name="commentGroup"/>
         </menu>
      </objectContribution>
   </extension>
     
   <!-- UML Package menu items -->
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution adaptable="true"
			objectClass="org.eclipse.uml2.uml.Element"
            id="mdht.objectContribution.uml.package.term">
         <visibility>
			<objectClass name="org.eclipse.uml2.uml.Package" />
			<!-- TODO and has Terminology profile applied -->
         </visibility>
         <action
               label="%addValueSetVersion.label"
               icon="icons/full/obj16/Enumeration.gif"
               class="org.openhealthtools.mdht.uml.term.ui.actions.AddValueSetVersionAction"
               menubarPath="mdht.addCDA/classifierGroup"
               enablesFor="1"
               id="mdht.actions.addCDA.valueSetVersion">
         </action>
         <action
               label="%addCodeSystemVersion.label"
               icon="icons/full/obj16/Enumeration.gif"
               class="org.openhealthtools.mdht.uml.term.ui.actions.AddCodeSystemVersionAction"
               menubarPath="mdht.addCDA/classifierGroup"
               enablesFor="1"
               id="mdht.actions.addCDA.codeSystemVersion">
         </action>
      </objectContribution>
   </extension>
         
   <!-- UML Package menu items -->
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution adaptable="true"
			objectClass="org.eclipse.uml2.uml.Element"
            id="mdht.objectContribution.uml.package.cda">
         <visibility>
			<objectClass name="org.eclipse.uml2.uml.Package" />
			<!-- TODO and has CDA profile applied -->
         </visibility>
         <action
               label="%addCDATemplate.label"
               icon="icons/full/obj16/Class.gif"
               class="org.openhealthtools.mdht.uml.cda.ui.actions.CreateNewTemplateAction"
               menubarPath="mdht.addCDA/classifierGroup"
               enablesFor="1"
               id="mdht.actions.addCDA.class">
         </action>
      </objectContribution>
   </extension>
       
   <!-- UML Enumeration menu items -->
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution adaptable="true"
			objectClass="org.eclipse.uml2.uml.Element"
            id="mdht.objectContribution.uml.package.term">
         <visibility>
            <objectClass name="org.eclipse.uml2.uml.Enumeration" />
			<!-- TODO and has stereotype ValueSetVersion applied -->
         </visibility>
         <action
               label="%addValueSetCode.label"
               icon="icons/full/obj16/EnumerationLiteral.gif"
               class="org.openhealthtools.mdht.uml.term.ui.actions.AddValueSetCodeAction"
               menubarPath="mdht.addCDA/propertyGroup"
               enablesFor="1"
               id="mdht.actions.addCDA.valueSetCode">
         </action>
      </objectContribution>
   </extension>
         
</plugin>
