<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright (c) 2009, 2012 David A Carlson.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
  
  Contributors:
      David A Carlson (XMLmodeling.com) - initial API and implementation
      
  $Id$
-->

<plugin>

   <extension point="org.openhealthtools.mdht.uml.common.notation">
      <provider profileURI="pathmap://CDA_PROFILES/cda.profile.uml"
      		 class="org.openhealthtools.mdht.uml.cda.ui.util.CDAAnnotationProvider"/>
   </extension>
   
  <!-- 
    - Navigator Properties
    -->
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="org.openhealthtools.mdht.uml.ui.properties">   
         <propertyTab
               category="domain"
               label="%CDAPropertyTab.label"
               afterTab="property.tab.GeneralPropertySection"
               id="property.tab.CDAPropertySection">           
         </propertyTab>   
         <propertyTab
            category="domain"
            label="CDA Instance Sample"
            afterTab="property.tab.CDAPropertySection"
            id="property.tab.CDAInstanceSampleSection">           
         </propertyTab> 
      </propertyTabs>
   </extension>
 
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
       <propertySections contributorId="org.openhealthtools.mdht.uml.ui.properties">          
          
         <propertySection tab="property.tab.CDAInstanceSampleSection" 
             class="org.openhealthtools.mdht.uml.cda.ui.properties.CDAInstanceSampleSection" 
             id="property.section.cda.CDAInstanceSampleSection"
             filter="org.openhealthtools.mdht.uml.cda.ui.filters.TemplateFilter"/>
                          
       
         <propertySection tab="property.tab.CDAPropertySection"
             class="org.openhealthtools.mdht.uml.cda.ui.properties.InlineSection"
             id="property.section.cda.InlineSection"
             filter="org.openhealthtools.mdht.uml.cda.ui.filters.InlineFilter"/>
             
          <propertySection tab="property.tab.CDAPropertySection" 
	 	     class="org.openhealthtools.mdht.uml.cda.ui.properties.ActRelationshipSection" 
	 	     id="property.section.cda.ActRelationshipSection"
             filter="org.openhealthtools.mdht.uml.cda.ui.filters.ActRelationshipFilter"/>
          <!--
          <propertySection tab="property.tab.CDAPropertySection" 
	 	     class="org.openhealthtools.mdht.uml.cda.ui.properties.ParticipationSection" 
	 	     id="property.section.cda.ParticipationSection"
             filter="org.openhealthtools.mdht.uml.cda.ui.filters.ParticipationFilter"/>
          -->
             
          <!-- deprecated -->
          <propertySection tab="property.tab.CDAPropertySection" 
	 	     class="org.openhealthtools.mdht.uml.cda.ui.properties.EntrySection" 
	 	     id="property.section.cda.EntrySection"
             filter="org.openhealthtools.mdht.uml.cda.ui.filters.EntryFilter"/>
          <propertySection tab="property.tab.CDAPropertySection" 
	 	     class="org.openhealthtools.mdht.uml.cda.ui.properties.EntryRelationshipSection" 
	 	     id="property.section.cda.EntryRelationshipSection"
             filter="org.openhealthtools.mdht.uml.cda.ui.filters.EntryRelationshipFilter"/>
             
          <propertySection tab="property.tab.CDAPropertySection"
             class="org.openhealthtools.mdht.uml.cda.ui.properties.AssociationValidationSection"
             id="property.section.cda.AssociationValidationSection"
             filter="org.openhealthtools.mdht.uml.cda.ui.filters.AssociationFilter"/>
             
          <propertySection tab="property.tab.CDAPropertySection" 
	 	     class="org.openhealthtools.mdht.uml.cda.ui.properties.TextValueSection" 
	 	     id="property.section.cda.TextValueSection"
             filter="org.openhealthtools.mdht.uml.cda.ui.filters.TextAttributeFilter"/>
          <propertySection tab="property.tab.CDAPropertySection" 
	 	     class="org.openhealthtools.mdht.uml.cda.ui.properties.TerminologyValidationSection" 
	 	     id="property.section.cda.TerminologyValidationSection"
             filter="org.openhealthtools.mdht.uml.cda.ui.filters.TerminologyConstraintFilter"/>
          <propertySection tab="property.tab.CDAPropertySection" 
	 	     class="org.openhealthtools.mdht.uml.cda.ui.properties.PropertySection" 
	 	     id="property.section.cda.PropertySection"
             filter="org.openhealthtools.mdht.uml.cda.ui.filters.PropertyFilter"/>
             
          <propertySection tab="property.tab.CDAPropertySection"
             class="org.openhealthtools.mdht.uml.cda.ui.properties.ConstraintValidationSection"
             id="property.section.cda.ConstraintValidationSection"
             filter="org.openhealthtools.mdht.uml.cda.ui.filters.ConstraintFilter"/>
          <propertySection tab="property.tab.CDAPropertySection"
             class="org.openhealthtools.mdht.uml.cda.ui.properties.GeneralizationSection"
             id="property.section.cda.GeneralizationSection"
             filter="org.openhealthtools.mdht.uml.cda.ui.filters.ConformsToFilter"/>
          <propertySection tab="property.tab.CDAPropertySection"
             class="org.openhealthtools.mdht.uml.cda.ui.properties.TemplateSection"
             id="property.section.cda.TemplateSection"
             filter="org.openhealthtools.mdht.uml.cda.ui.filters.TemplateFilter"/>
             
             
             
          <propertySection tab="property.tab.CDAPropertySection"
             class="org.openhealthtools.mdht.uml.cda.ui.properties.ConformanceRuleSection"
             id="property.section.cda.ConformanceRuleSection"
             filter="org.openhealthtools.mdht.uml.cda.ui.filters.ValidationFilter"/>
             
    
 
 
      </propertySections>
   </extension> 
 
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution adaptable="true"
			objectClass="org.eclipse.core.runtime.IAdaptable" 
			id="org.openhealthtools.mdht.uml.cda.ui.dialogs.contribution1">
			<menu label="%CDATools.menu.label" path="additions" id="cdatools">
				<separator name="edit"/>
			</menu>
			<visibility>
	            <and>
	            	<objectState name="umlType" value="Class"/>
	            	<objectState name="hasProfile" value="http://www.openhealthtools.org/mdht/schemas/cda/"/>
	            </and>
			</visibility>
			
			<action label="%addPublicationSample.label"
				class="org.openhealthtools.mdht.uml.cda.ui.actions.AddPublicationSample"
				menubarPath="cdatools/edit" enablesFor="1"
				id="org.openhealthtools.mdht.uml.cda.ui.actions.addPublicationSample">
			</action>
			<action label="%compareTemplateAction.label"
				class="org.openhealthtools.mdht.uml.cda.ui.actions.CompareTemplateAction"
				menubarPath="cdatools/edit" enablesFor="1"
				id="org.openhealthtools.mdht.uml.cda.ui.actions.compareTemplateAction">
			</action>
			<action label="%generateSampleInstance.label"
				class="org.openhealthtools.mdht.uml.cda.ui.actions.GenerateSampleInstanceAction"
				menubarPath="cdatools/edit" enablesFor="1"
				id="org.openhealthtools.mdht.uml.cda.ui.actions.generateSampleInstanceAction">
			</action>
			<action label="%assignConformanceRuleIds.label"
				class="org.openhealthtools.mdht.uml.cda.ui.actions.AssignConformanceRuleIdsAction"
				menubarPath="cdatools/edit" enablesFor="1"
				id="org.openhealthtools.mdht.uml.cda.ui.actions.assignConformanceRuleIdsAction">
			</action>
			
			
			<action label="%createLogicalConstraint.label"
				class="org.openhealthtools.mdht.uml.common.ui.actions.OpenSubclassEditorAction"
				menubarPath="cdatools/edit" enablesFor="1"
				id="org.openhealthtools.mdht.uml.cda.ui.actions.openSubclassEditorAction">
			</action>
			
			
			<!-- This menu location is deprated and will be removed in next release. Now contributed by uml.ui -->
			<action label="%openTemplateEditor.label"
				class="org.openhealthtools.mdht.uml.common.ui.actions.OpenSubclassEditorAction"
				menubarPath="cdatools/edit" enablesFor="1"
				id="org.openhealthtools.mdht.uml.cda.ui.actions.openSubclassEditorAction">
			</action>
		</objectContribution>
		<objectContribution adaptable="true"
			objectClass="org.eclipse.core.runtime.IAdaptable" 
			id="org.openhealthtools.mdht.uml.cda.ui.dialogs.contribution2">
			<menu label="%CDATools.menu.label" path="additions" id="cdatools">
				<separator name="edit"/>
			</menu>
			<visibility>
	            <and>
	            	<objectState name="umlType" value="Package"/>
	            	<objectState name="hasProfile" value="http://www.openhealthtools.org/mdht/schemas/cda/"/>
	            </and>
			</visibility>
			<!--
			<action label="%updateProfileVersion.label"
				class="org.openhealthtools.mdht.uml.cda.ui.actions.UpdateProfileVersionAction"
				menubarPath="cdatools/edit" enablesFor="1"
				id="org.openhealthtools.mdht.uml.cda.ui.actions.updateProfileVersionAction">
			</action>
			<action label="%removeValidationMessages.label"
				class="org.openhealthtools.mdht.uml.cda.ui.actions.RemoveValidationMessagesAction"
				menubarPath="cdatools/edit" enablesFor="1"
				id="org.openhealthtools.mdht.uml.cda.ui.actions.assignValidationMessageAction">
			</action>
			-->
			<action label="%assignConformanceRuleIds.label"
				class="org.openhealthtools.mdht.uml.cda.ui.actions.AssignConformanceRuleIdsAction"
				menubarPath="cdatools/edit" enablesFor="1"
				id="org.openhealthtools.mdht.uml.cda.ui.actions.assignConformanceRuleIdsAction">
				
			</action>
		</objectContribution>
		
        <objectContribution
              adaptable="true"
              id="org.openhealthtools.mdht.uml.cda.ui.contribution1"
              nameFilter="*"
              objectClass="org.eclipse.core.resources.IProject">
           <action
                 class="org.openhealthtools.mdht.uml.cda.ui.builder.ToggleNatureAction"
                 enablesFor="+"
                 id="org.openhealthtools.mdht.uml.cda.ui.addRemoveNatureAction"
                 label="%addRemoveNatureAction.label"
                 menubarPath="additions">
           </action>
        </objectContribution>
        
        
        <objectContribution
              adaptable="true"
              id="org.openhealthtools.mdht.uml.cda.ui.importDitaReferences"
              nameFilter="*.doc"
              objectClass="org.eclipse.core.resources.IProject">
           <action
                 class="org.openhealthtools.mdht.uml.cda.ui.actions.ImportDitaReferences"
                 enablesFor="1"
                 id="org.openhealthtools.mdht.uml.cda.ui.importDitaReferences"
                 label="%importDitaReferences.label"
                 menubarPath="additions">
           </action>
        </objectContribution>
        
	</extension>
	
	<extension point="org.eclipse.ui.commands">

	<command  id="org.openhealthtools.mdht.uml.cda.ui.commands.createLogicalConstraint" name="PDF" defaultHandler="org.openhealthtools.mdht.uml.cda.ui.handlers.CreateLogicalConstraintHandler" >
		<commandParameter id="org.openhealthtools.mdht.uml.cda.ui.commands.logical.operator" name="operator" />
    </command>
    
    <command  id="org.openhealthtools.mdht.uml.cda.ui.commands.analyzeCDA" name="ANALYZECDA" defaultHandler="org.openhealthtools.mdht.uml.cda.ui.handlers.AnalyzeCDAHandler" >
    </command>
    
    </extension>
	
	   <extension
         point="org.eclipse.ui.menus">
         
         
         
          <menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
    

      <command commandId="org.openhealthtools.mdht.uml.cda.ui.commands.analyzeCDA" label="Analyze CDA" id="org.openhealthtools.mdht.uml.cda.ui.menu.analyzeCDA" mnemonic="A">

      	<visibleWhen>
               <with variable="selection">
                  <iterate>
                     <adapt type="org.eclipse.core.resources.IFolder" />
                  </iterate>
               </with>
            </visibleWhen>         
      </command>    
      
    </menuContribution>  
    
    
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=group.new">
            
              <menu label="%createLogicalConstraint.label">
              
              
              
         <command
               commandId="org.openhealthtools.mdht.uml.cda.ui.commands.createLogicalConstraint"
               label="AND"
               icon="icons/full/obj16/Class.gif">
               	<parameter name="org.openhealthtools.mdht.uml.cda.ui.commands.logical.operator" value="AND" />
           <visibleWhen
                  checkEnabled="false">
 
            </visibleWhen>
         </command>
         
              <command
               commandId="org.openhealthtools.mdht.uml.cda.ui.commands.createLogicalConstraint"
               label="OR"
               icon="icons/full/obj16/Class.gif">
               	<parameter name="org.openhealthtools.mdht.uml.cda.ui.commands.logical.operator" value="OR" />
            <visibleWhen checkEnabled="false"/>
         </command>
         
         
                 <command
               commandId="org.openhealthtools.mdht.uml.cda.ui.commands.createLogicalConstraint"
               label="Exclusive OR"
               icon="icons/full/obj16/Class.gif">
               	<parameter name="org.openhealthtools.mdht.uml.cda.ui.commands.logical.operator" value="XOR" />
            <visibleWhen checkEnabled="false"/>
         </command>
         
                       <command
               commandId="org.openhealthtools.mdht.uml.cda.ui.commands.createLogicalConstraint"
               label="If ... Then ..."
               icon="icons/full/obj16/Class.gif">
               	<parameter name="org.openhealthtools.mdht.uml.cda.ui.commands.logical.operator" value="IFTHEN" />
            <visibleWhen checkEnabled="false"/>
         </command>
         
                             <command
               commandId="org.openhealthtools.mdht.uml.cda.ui.commands.createLogicalConstraint"
               label="Not Both"
               icon="icons/full/obj16/Class.gif">
               	<parameter name="org.openhealthtools.mdht.uml.cda.ui.commands.logical.operator" value="NOTBOTH" />
            <visibleWhen checkEnabled="true"/>
         </command>
         
         
         </menu>
      </menuContribution>
   </extension>
	

   
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution adaptable="true"
			objectClass="org.eclipse.core.runtime.IAdaptable"
            id="mdht.objectContribution.uml">
         <visibility>
            <and>
            	<objectState name="umlType" value="Element"/>
            	<objectState name="hasProfile" value="http://www.openhealthtools.org/mdht/schemas/cda/"/>
            </and>
         </visibility>
         <menu
               label="%addCDA.label"
               path="group.new"
               id="mdht.addCDA">
            <separator name="propertyGroup"/>
            <separator name="classifierGroup"/>
            <separator name="packageGroup"/>
            <separator name="constraintGroup"/>
            <separator name="commentGroup"/>
         </menu>
      </objectContribution>
   </extension>
     
   <!-- UML Package menu items -->
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution adaptable="true"
			objectClass="org.eclipse.uml2.uml.Element"
            id="mdht.objectContribution.uml.package.cda">
         <visibility>
			<objectClass name="org.eclipse.uml2.uml.Package" />
			<!-- TODO and has CDA profile applied -->
         </visibility>
         <action
               label="%addCDATemplate.label"
               icon="icons/full/obj16/Class.gif"
               class="org.openhealthtools.mdht.uml.cda.ui.actions.CreateNewTemplateAction"
               menubarPath="mdht.addCDA/classifierGroup"
               enablesFor="1"
               id="mdht.actions.addCDA.class">
         </action>
      </objectContribution>
   </extension>

   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

   <extension point="org.eclipse.ui.views">
     	<category name="UML Modeling" id="org.openhealthtools.mdht.uml.cda.ui.instance.car" />

      <view
            category="org.openhealthtools.mdht.uml.cda.ui.instance.car"
            class="org.openhealthtools.mdht.uml.cda.ui.internal.views.UMLInstanceView"
            id="org.openhealthtools.mdht.uml.cda.ui.instance.view"
            name="UML Instance View">
      </view>
   </extension>

   <extension
         id="org.openhealthtools.mdht.uml.cda.builder.id"
         name="CDA Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.openhealthtools.mdht.uml.cda.ui.builder.CDABuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="org.openhealthtools.mdht.uml.cda.nature.id"
         name="CDA Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.openhealthtools.mdht.uml.cda.ui.builder.CDANature">
         </run>
      </runtime>
      <builder
            id="org.openhealthtools.mdht.uml.cda.ui.org.openhealthtools.mdht.uml.cda.builder.id">
      </builder>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
  
   <extension point="org.eclipse.ui.newWizards">
      <category
            name="Model Driven Health Tools"
            id="mdhtmodelwizards">
      </category>
      <wizard
            category="mdhtmodelwizards"
            class="org.openhealthtools.mdht.uml.cda.ui.wizards.NewCDAModelProjectWizard"
            icon="icons/full/obj16/Class.gif"
            id="org.openhealthtools.mdht.uml.cda.wizards.cdamodelproject"
            name="New CDA Model"
            project="true">
      </wizard>
   </extension>
   
      <extension
         point="org.eclipse.ui.views">
          <category
            name="CDA Analysis"
            id="cdaanalysis">
      </category>
      <view
            name="Section Entries"
            icon="icons/analyzer/analysis.ico"
            category="cdaanalysis"
            class="org.openhealthtools.mdht.uml.cda.ui.views.EntriesView"
            id="org.openhealthtools.mdht.uml.cda.ui.views.entriesview">
            
      </view>
      
         <view
            name="Section Narrative"
            icon="icons/analyzer/analysis.ico"
            category="cdaanalysis"
            class="org.openhealthtools.mdht.uml.cda.ui.views.NarrativeView"
            id="org.openhealthtools.mdht.uml.cda.ui.views.narrativeview">
      </view>
      
       <view
            name="Section Issues"
            icon="icons/analyzer/analysis.ico"
            category="cdaanalysis"
            class="org.openhealthtools.mdht.uml.cda.ui.views.ValidationsView"
            id="org.openhealthtools.mdht.uml.cda.ui.views.validationsview">
      </view>
      
      <view
            name="Document Metrics Details"
            icon="icons/analyzer/analysis.ico"
            category="cdaanalysis"
            class="org.openhealthtools.mdht.uml.cda.ui.views.MetricsView"
            id="org.openhealthtools.mdht.uml.cda.ui.views.metricsview">
      </view>
 
   </extension>
   
   
   <extension
      point="org.eclipse.ui.editors">
      <editor
         class="org.openhealthtools.mdht.uml.cda.ui.editors.CDAAnalyzer"
         contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
         extensions="xml"
         icon="icons/analyzer/sample.gif"
         id="org.openhealthtools.mdht.uml.cda.ui.editors.CDAAnalyzer"
         name="CDA Analyzer">
      </editor>
      
      <editor
         class="org.openhealthtools.mdht.uml.cda.ui.editors.CDAAnalyzer2"
         contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
         extensions="xml"
         icon="icons/analyzer/sample.gif"
         id="org.openhealthtools.mdht.uml.cda.ui.editors.CDAAnalyzer2"
         name="CDA Metrics">
      </editor>
   </extension>
   
   <extension
      point = "org.eclipse.ui.preferencePages">
      <page id="org.openhealthtools.mdht.uml.cda.ui.editors.Page1"
         class="org.openhealthtools.mdht.uml.cda.ui.editors.MDHTPreferences"
         name="MDHT">
         <keywordReference id="MDHTPreferences.multiplicity1" />
         <keywordReference id="MDHTPreferences.multiplicity2" />
         <keywordReference id="MDHTPreferences.multiplicity3" />
      </page>
   </extension>
   
   <extension point="org.eclipse.ui.keywords">
      <keyword label="multiplicity" id="MDHTPreferences.multiplicity1" />
      <keyword label="element" id="MDHTPreferences.multiplicity2" />
      <keyword label="properties" id="MDHTPreferences.multiplicity3" />
   </extension>    
   
   <extension
      point="org.eclipse.core.runtime.preferences">
      <initializer class="org.openhealthtools.mdht.uml.cda.ui.editors.MDHTPreferenceInitializer"/>
   </extension>
            
</plugin>
