<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
  Copyright (c) 2006, 2009 David A Carlson.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
  
  Contributors:
      David A Carlson (XMLmodeling.com) - initial API and implementation
      
  $Id$
-->

<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
      		adaptable="true"
            objectClass="org.eclipse.uml2.uml.Element"
            id="objectContribution.uml.contrib1">
         <menu
               label="%menu_HL7Tools"
               path="additions"
               id="hl7tools">
            <separator
                  name="transform">
            </separator>
         </menu>
         <action
               label="%menu_FixComments"
               class="org.openhealthtools.mdht.uml.ui.dev.actions.FixCommentAction"
               menubarPath="hl7tools/transform"
               enablesFor="1"
               id="org.openhealthtools.mdht.uml.ui.dev.actions.FixCommentAction">
         </action>
         <action
               label="%menu_AssignIds"
               class="org.openhealthtools.mdht.uml.ui.dev.actions.AssignIdAction"
               menubarPath="hl7tools/transform"
               enablesFor="1"
               id="org.openhealthtools.mdht.uml.ui.dev.actions.AssignIdAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
