###############################################################################
# Drop file locations
###############################################################################

###############################################################################
# Base Eclipse dependency
###############################################################################
eclipseURL=http://archive.eclipse.org

eclipseDropLocation=eclipse/downloads/drops
eclipseVersion=3.2.1
eclipseBuildType=R
eclipseBuildDate=20060921
eclipseBuildTimestamp=0945

eclipseBuildId=${eclipseBuildType}-${eclipseVersion}-${eclipseBuildDate}${eclipseBuildTimestamp}

eclipseZipName=eclipse-platform-SDK-${eclipseVersion}-${baseos}.zip

eclipseBaseURL=${eclipseURL}/${eclipseDropLocation}/${eclipseBuildId}/${eclipseZipName}
#eclipseBaseURL=http://archive.eclipse.org/eclipse/downloads/drops/R-3.2.1-200609210945/eclipse-SDK-3.2.1-win32.zip

pdeZipName=eclipse-PDE-SDK-${eclipseVersion}.zip
pdeZipURL=${eclipseURL}/${eclipseDropLocation}/${eclipseBuildId}/${pdeZipName}


