<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.core.runtime.adapters">
	  <factory
	        adaptableType="org.eclipse.core.resources.IResource"
	        class="org.openhealthtools.mdht.uml.ui.navigator.internal.ResourcePropertySheetAdapterFactory">
	     <adapter type="org.eclipse.ui.views.properties.tabbed.ITabbedPropertySheetPageContributor"/>
	  </factory>
	  <factory
	        adaptableType="org.openhealthtools.mdht.uml.ui.navigator.UMLDomainNavigatorItem"
	        class="org.openhealthtools.mdht.uml.ui.navigator.internal.UMLNavigatorAdapterFactory">
	     <adapter type="org.eclipse.uml2.uml.Element"/>
	     <adapter type="org.eclipse.ui.IActionFilter"/>
	  </factory>
	  <factory
	        adaptableType="org.eclipse.ui.navigator.CommonNavigator"
	        class="org.openhealthtools.mdht.uml.ui.navigator.internal.UMLNavigatorAdapterFactory">
	     <adapter type="org.eclipse.core.commands.operations.IUndoContext"/>
	  </factory>
   </extension>
    
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.openhealthtools.mdht.uml.ui.navigator.fileActions"
            nameFilter="*.uml"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.openhealthtools.mdht.uml.ui.navigator.internal.actions.OpenModelAction"
               enablesFor="1+"
               id="org.openhealthtools.mdht.uml.ui.navigator.openModelAction"
               label="%openModelAction.label"
               menubarPath="group.open">
         </action>
      </objectContribution>
   </extension>
   
   <extension point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.openhealthtools.mdht.uml.resourceContent"/>
            <!-- <contentExtension pattern="org.openhealthtools.mdht.uml.navigatorLinkHelper"/> -->
            <contentExtension
                  pattern="org.openhealthtools.mdht.uml.ui.navigator.commonFilter.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension
                  pattern="org.openhealthtools.mdht.uml.ui.navigator.ActionProvider">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.openhealthtools.mdht.uml.ui.navigator.internal.UMLNavigatorContentProvider"
            icon="icons/obj16/ResourceUML.gif"
            id="org.openhealthtools.mdht.uml.resourceContent"
            labelProvider="org.openhealthtools.mdht.uml.ui.navigator.internal.UMLNavigatorLabelProvider"
            name="%navigatorContentName"
            priority="normal"
            providesSaveables="true">
         <triggerPoints>
            <or>
	            <and>
    	           <instanceof value="org.eclipse.core.resources.IFile"/>
    	           <or>
        	         <test property="org.eclipse.core.resources.extension" value="uml"/>
        	         <test property="org.eclipse.core.resources.extension" value="xmi"/>
        	       </or>
            	</and>
            	<instanceof value="org.openhealthtools.mdht.uml.ui.navigator.UMLDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
         	<instanceof value="org.openhealthtools.mdht.uml.ui.navigator.UMLDomainNavigatorItem"/>
         </possibleChildren>
         <commonSorter 
               id="org.openhealthtools.mdht.uml.navigatorSorter" 
               class="org.openhealthtools.mdht.uml.ui.navigator.internal.UMLNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
    	             <or>
        	           <test property="org.eclipse.core.resources.extension" value="uml"/>
        	           <test property="org.eclipse.core.resources.extension" value="xmi"/>
        	         </or>
                  </and>
                  <instanceof value="org.openhealthtools.mdht.uml.ui.navigator.UMLDomainNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
         <actionProvider
               id="org.openhealthtools.mdht.uml.ui.navigator.ActionProvider"
               class="org.openhealthtools.mdht.uml.ui.navigator.internal.actions.ModelActionProvider">
         </actionProvider>
      </navigatorContent>
      
      # UML element filters
      <commonFilter
            activeByDefault="false"
            id="org.openhealthtools.mdht.uml.ui.navigator.commonFilter.Association"
            name="%AssociationFilter.name"
            description="%AssociationFilter.description"
            class="org.openhealthtools.mdht.uml.ui.navigator.internal.filters.AssociationFilter">
      </commonFilter>
      <commonFilter
            activeByDefault="false"
            id="org.openhealthtools.mdht.uml.ui.navigator.commonFilter.Comment"
            name="%CommentFilter.name"
            description="%CommentFilter.description"
            class="org.openhealthtools.mdht.uml.ui.navigator.internal.filters.CommentFilter">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            id="org.openhealthtools.mdht.uml.ui.navigator.commonFilter.ProfileApplication"
            name="%ProfileApplicationFilter.name"
            description="%ProfileApplicationFilter.description"
            class="org.openhealthtools.mdht.uml.ui.navigator.internal.filters.ProfileApplicationFilter">
      </commonFilter>
   </extension>
   
   <extension point="org.eclipse.emf.validation.validationListeners">
       <listener class="org.openhealthtools.mdht.uml.ui.navigator.internal.validation.ProblemReporter">
           <clientContext id="org.openhealthtools.mdht.uml.validation.clientContext"/>
       </listener>
   </extension>
   
   <extension point="org.eclipse.ui.decorators">
      <decorator id="org.openhealthtools.mdht.uml.ui.navigator.stereotypeDecorator"
            class="org.openhealthtools.mdht.uml.ui.navigator.internal.StereotypeDecorator" 
            label="%StereotypeDecorator.label" 
            lightweight="false" state="false">
         <description>
            %StereotypeDecorator.description
         </description>
         <enablement>
            <or>
               <objectClass name="org.openhealthtools.mdht.uml.ui.navigator.UMLDomainNavigatorItem" />
               <objectClass name="org.eclipse.uml2.uml.Element" />
            </or>
         </enablement>
      </decorator>
      <decorator id="org.openhealthtools.mdht.uml.ui.navigator.problemsDecorator"
            class="org.openhealthtools.mdht.uml.ui.navigator.internal.ProblemsDecorator" 
            label="%ProblemsDecorator.label" 
            lightweight="false" state="true">
         <description>
            %ProblemsDecorator.description
         </description>
         <enablement>
            <or>
               <objectClass name="org.openhealthtools.mdht.uml.ui.navigator.UMLDomainNavigatorItem" />
               <objectClass name="org.eclipse.uml2.uml.Element" />
            </or>
         </enablement>
      </decorator>
   </extension>
    
</plugin>
