<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
  Copyright (c) 2012 David A Carlson.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
  
  Contributors:
      David A Carlson (XMLmodeling.com) - initial API and implementation
     
-->

<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
      		adaptable="true"
            objectClass="org.eclipse.uml2.uml.Element"
            id="org.openhealthtools.mdht.uml.ui.dev.popup">
         <menu
               label="%menu_UMLTransform"
               path="additions"
               id="umltools">
            <separator
                  name="transform">
            </separator>
         </menu>
         <action
               label="%menu_FlattenModel"
               class="org.openhealthtools.mdht.uml.transform.ui.actions.FlattenModelAction"
               menubarPath="umltools/transform"
               enablesFor="1"
               id="org.openhealthtools.mdht.uml.transform.ui.actions.FlattenModelAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
