<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="org.openhealthtools.mdht.smd2uml.contribution1"
             nameFilter="*.xhl7"
            >
         <menu
               label="OHT Model Tools"
               path="additions"
               id="org.openhealthtools.mdht.smd2uml.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Save xhl7 As UML"
               class="org.openhealthtools.mdht.uml.hl7.xhl72uml.popup.actions.XHl72UMLAction"
               menubarPath="org.openhealthtools.mdht.smd2uml.menu1/group1"
               enablesFor="1"
               id="org.openhealthtools.mdht.smd2uml.saveasuml">
         </action>
      </objectContribution>
   </extension>

</plugin>
