<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<!--
		Copyright (c) 2006, 2008 David A Carlson. All rights reserved. This
		program and the accompanying materials are made available under the
		terms of the Eclipse Public License v1.0 which accompanies this
		distribution, and is available at
		http://www.eclipse.org/legal/epl-v10.html Contributors: David A
		Carlson - initial API and implementation $Id$
	-->

	<!--Declare contributed profiles and libraries.-->
	<extension point="com.ibm.xtools.uml.msl.UMLLibraries" name="HL7 Abstract Data Types v1">
		<UMLLibrary name="HL7 Abstract Data Types v1" path="pathmap://HL7_DT_UV/DEFN=UV=DT=1.0.uml"
			visible="true" required="false" id="HL7AbstractDataTypes_v1">
		</UMLLibrary>
	</extension>

	<extension point="com.ibm.xtools.uml.msl.UMLProfiles" name="HDF Profile">
		<UMLProfile name="HDF Profile" path="pathmap://HL7_PROFILES/HDF.profile.uml"
			visible="true" required="false" id="HDFProfile">
		</UMLProfile>
	</extension>
	<extension point="com.ibm.xtools.uml.msl.UMLProfiles" name="RIM Profile">
		<UMLProfile name="RIM Profile" path="pathmap://HL7_PROFILES/RIM.profile.uml"
			visible="true" required="false" id="RIMProfile">
		</UMLProfile>
	</extension>

	<!--Add RSM based HL7 popup menus. -->
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution adaptable="true"
			objectClass="org.eclipse.gmf.runtime.notation.View" id="org.openhealthtools.mdht.uml.hdf.ui.rsm.actions">
			<menu label="%menu_HL7Tools" path="additions" id="hl7tools">
				<separator name="transform">
				</separator>
			</menu>
			<action label="%menu_CollapseExternal"
				class="org.openhealthtools.mdht.uml.hdf.ui.rsm.actions.CollapseExternal"
				menubarPath="hl7tools/transform" enablesFor="1"
				id="org.openhealthtools.mdht.uml.hdf.ui.rsm.actions.CollapseExternal">
			</action>
		</objectContribution>
	</extension>

	<!--Add RSM Based HL7 property tab pages. -->	
	<!--Property Tab pages definitions are duplicated in both RSM and Papyrus and must be kept in synch manually -->
	<!--contributorId="com.ibm.xtools.modeler.ui.properties" is the RSM specific value -->
	
	
	<extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
		<propertyTabs contributorId="com.ibm.xtools.modeler.ui.properties">
			<propertyTab category="Core"
				afterTab="modeler.property.tab.StereotypesSection" id="property.tab.HL7PropertySection"
				label="%HealthcarePropertyTab.label">
			</propertyTab>
		</propertyTabs>
	</extension>

	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
		<propertySections contributorId="com.ibm.xtools.modeler.ui.properties">
			<propertySection tab="property.tab.HL7PropertySection"
				class="org.openhealthtools.mdht.uml.hdf.ui.properties.HL7DefinitionSection"
				id="property.section.hl7.HL7DefinitionSection">
				<input type="org.eclipse.uml2.uml.Class" />
				<input type="org.eclipse.uml2.uml.Property" />
				<input type="org.eclipse.uml2.uml.Package" />
			</propertySection>
			<propertySection tab="property.tab.HL7PropertySection"
				afterSection="property.section.hl7.HL7DefinitionSection"
				class="org.openhealthtools.mdht.uml.hdf.ui.properties.HL7TemplateSection"
				id="property.section.HL7TemplateSection" filter="org.openhealthtools.mdht.uml.hdf.ui.filters.HL7TemplateFilter">
			</propertySection>
			<propertySection tab="property.tab.HL7PropertySection"
				afterSection="property.section.hl7.HL7DefinitionSection"
				class="org.openhealthtools.mdht.uml.hdf.ui.properties.HL7PropertySection"
				id="property.section.HL7PropertySection">
				<input type="org.eclipse.uml2.uml.Property" />
			</propertySection>
			<propertySection tab="property.tab.HL7PropertySection"
				afterSection="property.section.HL7PropertySection"
				class="org.openhealthtools.mdht.uml.hdf.ui.properties.HL7AttributeSection"
				id="property.section.HL7AttributeSection" filter="org.openhealthtools.mdht.uml.hdf.ui.filters.HL7AttributeFilter">
			</propertySection>
			<propertySection tab="property.tab.HL7PropertySection"
				afterSection="property.section.HL7AttributeSection"
				class="org.openhealthtools.mdht.uml.hdf.ui.properties.VocabularyConstraintsSection"
				id="property.section.VocabularyConstraintsSection"
				filter="org.openhealthtools.mdht.uml.hdf.ui.filters.CodedAttributeFilter">
			</propertySection>
			<propertySection tab="property.tab.HL7PropertySection"
				afterSection="property.section.VocabularyConstraintsSection"
				class="org.openhealthtools.mdht.uml.hdf.ui.properties.ConceptDomainConstraintSection"
				id="property.section.ConceptDomainConstraintSection" filter="org.openhealthtools.mdht.uml.hdf.ui.filters.ConceptDomainFilter">
			</propertySection>
			<propertySection tab="property.tab.HL7PropertySection"
				afterSection="property.section.ConceptDomainConstraintSection"
				class="org.openhealthtools.mdht.uml.hdf.ui.properties.CodeSystemConstraintSection"
				id="property.section.CodeSystemConstraintSection" filter="org.openhealthtools.mdht.uml.hdf.ui.filters.CodeSystemFilter">
			</propertySection>
			<propertySection tab="property.tab.HL7PropertySection"
				afterSection="property.section.CodeSystemConstraintSection"
				class="org.openhealthtools.mdht.uml.hdf.ui.properties.ValueSetConstraintSection"
				id="property.section.ValueSetConstraintSection" filter="org.openhealthtools.mdht.uml.hdf.ui.filters.ValueSetFilter">
			</propertySection>
			<propertySection tab="property.tab.HL7PropertySection"
				afterSection="property.section.ValueSetConstraintSection"
				class="org.openhealthtools.mdht.uml.hdf.ui.properties.EnumerationConstraintSection"
				id="property.section.EnumerationConstraintSection"
				filter="org.openhealthtools.mdht.uml.hdf.ui.filters.EnumerationConstraintFilter">
			</propertySection>
		</propertySections>
	</extension>


	<!--Add RSM Based UML Custom UI Provider -->
	<extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders"
		id="parser-provider">
		<ParserProvider
			class="org.openhealthtools.mdht.uml.hdf.ui.rsm.providers.RSMCustomUMLParserProvider">
			<Priority name="High" />
		</ParserProvider>
	</extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="org.openhealthtools.mdht.uml.hdf.ui.rsm.preferences.SamplePreferencePage"
          id="org.openhealthtools.mdht.uml.hdf.ui.rsm.preferences.SamplePreferencePage"
          name="Sample Preferences">
    </page>
 </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="org.openhealthtools.mdht.uml.hdf.ui.rsm.preferences.PreferenceInitializer">
    </initializer>
 </extension>


</plugin>
